/* Import Tailwind CSS */
@import "tailwindcss";

/* Global styles */
* {
  font-family: Outfit;
}

/* Custom hover shadow class */
.hover-shadow-black:hover {
  box-shadow: 4px 4px 0 #000; /* Your custom shadow */
}

/* If you want a custom lightHover color in the global scope */
.hover-bg-lightHover:hover {
  background-color: #fcf4ff; /* lightHover color */
}

/* globals.css or custom.css */

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem; /* This defines the spacing between the grid items */
}

@media (max-width: 640px) {
  .grid-auto {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}